* {
  margin-top: 0px;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  text-align: center;
}

header,
footer {
  background-color: #cdffbc;

  height: 5vh;
}

p {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

.input {
  background-color: #cdffbc;
  padding: 10px;

  text-align: center;
  border: none;
  font-family: 'Courier New', Courier, monospace;
}
.input:hover {
  background-color: #ffffff;
  border: solid rgba(0, 0, 0, 0.188);
}

.platformSelector {
  font-family: 'Courier New', Courier, monospace;
}

.footer {
  background-color: #cdffbc;
  margin-bottom: 0px;
  margin-top: 10px;
}

.saleSummary {
  text-align: center;
  padding-top: 0%;
}

.whatPlatformText {
  font-size: 2em;
}

.select {
  margin-bottom: 20px;
}

#platform {
  background-color: #cdffbc;
}
#platform:hover {
  background-color: white;
}

table p {
  font-size: 1.3em;
  margin: 20px;
}

footer {
  margin-top: 200px;
  display: block;
}

.table {
  margin-top: 50px;
}
