* {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  /* margin: 0; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

.input {
  background-color: #cdffbc;
  padding: 10px;
  text-align: center;
  border: none;
  font-family: 'Courier New', Courier, monospace;
}
.input:hover {
  background-color: #ffffff;
  border: solid rgba(0, 0, 0, 0.188);
}

.platformSelector {
  font-family: 'Courier New', Courier, monospace;
}

.footer {
  background-color: #cdffbc;
  /* height: 20px; */
  margin-top: auto;
  /* height: 1vh; */
}

.saleSummary {
  text-align: center;
  padding-top: 0%;
}

.whatPlatformText {
  font-size: 2em;
}

.select {
  margin-bottom: 20px;
}

#platform {
  background-color: #cdffbc;
}
#platform:hover {
  background-color: white;
}

table p {
  font-size: 1.3em;
  margin: 20px;
}

.table {
  margin-top: 50px;
}

#costSummary {
  /* background-color: red; */
  table-layout: fixed;
}

.navTitle {
  background-color: #cdffbc;
  /* border-radius: 50px; */
  height: 5vh;
  text-align: center;
}
